/*try one css*/
.grid-container{
	display: grid;
	grid: 500px / auto auto auto;
	grid-gap: 5px;
	background-color: #A9A9A9;
	padding: 5px;
}

.grid-container > div{
	background-color: white;
	text-align: center;
	padding: 30px 0;
	font-size: 20px;
}

/*try one html*/
<div class="grid-container">
	<div class="BigCats">Big Cats</div>
	<div class="MarineLife">Marine Life</div>
	<div class="Primates">Primates</div>
	<div class="Rhinos">Rhinos</div>
	<div class="Elephants">Elephants</div>
	<div class="Deer">Deer?</div>
</div>




/*try two css*/

    .square {
      width: 900px;
      height: 900px;
      background: #DAA520;
      border-bottom: 10px solid white;
      border-left:10px solid white;
      border-right:10px solid white;
      border-top:10px solid white;
		



    }

    .square2 {
      width: 900px;
      height: 900px;
      background: #E0FFFF;
      left: 900px;
       border-bottom: 10px solid white;
      border-left:10px solid white;
      border-right:10px solid white;
      border-top:10px solid white;

    }

    .square3 {
      width: 900px;
      height: 900px;
      background: #A0522D;
      margin-left: 1800px;
       border-bottom: 10px solid white;
      border-left:10px solid white;
      border-right:10px solid white;
      border-top:10px solid white;

	 }

	 .square4 {
      width: 900px;
      height: 900px;
      background: black;
     

	 }

	.square5 {
      width: 900px;
      height: 900px;
      background: black;
      margin-left: 900px;

	 }

	 .square6 {
      width: 900px;
      height: 900px;
      background: black;
       margin-left: 1800px;

	 }